
@{
    ViewBag.Title = "Index";

    string[] kurslar = { "Mvc kursu", "web form kursu", "c# kursu" };
}

<h2>Kurslar</h2>
<hr />
<ul>
    @foreach (var kurs in kurslar)
    {
        <li>
            @kurs
        </li>
    }
</ul>
